.formControl.error {
    span{
        visibility: visible;
    }
    input,
    textarea {
       border: 1px solid red !important

    
}
}

.formControl span {
    visibility: hidden;
}

.formError {
    color: red;
    padding: 15px;
}