.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: h;
  background: #393E4A;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10000;
}

.logo {
  display: block;
  height: auto;
  width: 35px;
}

.login {
  float: right;
  &>div {
    display: flex;
    align-items: center;
    &>img {
      width: 35px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 50%;
    }
    &>.login__button {
      color: #fff;
      padding: 2px 8px;
      border-radius: 8px;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
      background: rgba(255,255,255,.1);
      &:hover {
        background: rgba(255,255,255,.2);
      }
    }
    &>.login__login {
      color:#fff
    }
  }
}