.item a {
  text-decoration: none;
}

.navigation {
  grid-area: n;
  background: #D1D9ED;
  padding-left: 60px;
  padding-top: 24px;
}

.navigation>div>a {
  font-weight: normal;
  font-size: 1.25em;
  line-height: 160%;
  text-transform: uppercase;
  color: #100C0B;
  cursor: pointer;
} 
.navigation>div{
  margin-bottom: 12px;
}

.navigation>div:nth-last-child(1) {
  margin-top: 40px;
}
.navigation>div>a:hover {
  opacity: .6;
} 