.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: goldenrod;
}

.dialog {}

.messages {}

.messageIn>div {
  padding: 10px;
  float: left;
}
.messageOut>div {
  padding: 10px;
  float: right;
}