.app-wrapper {
  font-style: 'Raleway', sans-serif;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: minmax(200px, 20%) 80%;

}

.app-wrapper-content {
  position: relative;
  grid-area: c;
  background-color: #EBEBEB;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}