.app-wrapper {
  font-style: 'Raleway', sans-serif;
  display: grid;

  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(200px, 20%) 80%;
  
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
